body {
    background-color: white;
    position: relative;
    min-height: 100%;
    height: auto
}

input {}

h1 {
    font-family: arial;
    color: black;
    position: absolute;
    margin-top: 0.1%;
    font-size: 15px;
}

h3 {
    font-family: arial;
    color: black;
    position: absolute;
    margin-top: -1%;
    font-size: 18px;
}

label {
    font-family: arial;
    font-size: 15px;
    font-weight: normal;
    color: black;
    text-align: center;
}

.a {
    font-family: Verdana;
    font-size: 15px;
    font-weight: normal;
    color: white;
    text-align: center;
}

h6 {
    margin-top: 0px;
    margin-left: 78%;
    font-size: 15px;
    font-family: arial;
    position: relative;
    color: black;
}

h5 {
    font-family: arial;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 78%;
    color: black;
    position: relative;
}

#sair {
    font-family: arial;
    color: white;
}

#adif {
    color: white;
    font-size: 15px;
}

#c1 {
    font-family: arial;
    margin-top: 0%;
    max-width: 100%;
    max-height: 3%;
    margin-left: 0%;
    color: white;
    position: relative;
    width: 100%;
}

#c2 {
    position: center;
    margin-top: -5%;
    background-color: white;
    max-width: 100%;
    font-family: arial;
    font-size: 18px;
    padding: 0;
    margin-left: 1%;
    max-height: 28%;
    position: relative;
}

#c3 {
    position: center;
    margin-top: 0%;
    background-color: black;
    max-width: 100%;
    font-family: arial;
    font-size: 10px;
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
    font-family: arial;
    overflow: auto;
    width: 100%;
}

#c4 {
    position: center;
    background-color: white;
    max-width: 100%;
    font-family: arial;
    font-size: 18px;
    padding: 0;
    margin-left: 15%;
    margin-right: 1%;
    margin-top: 0, 2%;
    position: relative;
}

.td {
    font-size: 10px;
    width: 50%;
    color: black;
}

.tr {
    font-size: 8px;
    width: 50%;
    color: black;
}

.table {
    margin-left: 0%;
    margin-right: 3%;
    font-size: 12px;
    width: 50%;
    color: black;
    max-width: 98%;
    width: 98%;
    position: relative;
}

#btn {
    width: 10vw;
    height: 6vh;
    margin: 1px;
}